In [1]:
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np
import sklearn

ModuleNotFoundError: No module named 'matplotlib'

In [168]:
dataset.head()

      sex   age  sibsp  parch     fare embarked  class    who  alone  survived
0    male  22.0      1      0   7.2500        S  Third    man  False         0
1  female  38.0      1      0  71.2833        C  First  woman  False         1
2  female  26.0      0      0   7.9250        S  Third  woman   True         1
3  female  35.0      1      0  53.1000        S  First  woman  False         1
4    male  35.0      0      0   8.0500        S  Third    man   True         0

In [169]:
dataset=dataset.drop(columns=['class','who','alone'])

In [170]:
dataset.head()

      sex   age  sibsp  parch     fare embarked  survived
0    male  22.0      1      0   7.2500        S         0
1  female  38.0      1      0  71.2833        C         1
2  female  26.0      0      0   7.9250        S         1
3  female  35.0      1      0  53.1000        S         1
4    male  35.0      0      0   8.0500        S         0

In [171]:
dataset.isnull().sum()

sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
survived      0
dtype: int64

In [172]:
median=dataset['age'].median()
Max=dataset['embarked'].value_counts().idxmax()
print(Max)
# mode_embarked = dataset['embarked'].mode()[0]
dataset['age']=dataset['age'].fillna(median)
dataset['sex'] = dataset['sex'].map({'male': 0, 'female': 1})
dataset['embarked'] = dataset['embarked'].fillna(Max)
dataset.isnull().sum()
dataset.head()

S

   sex   age  sibsp  parch     fare embarked  survived
0    0  22.0      1      0   7.2500        S         0
1    1  38.0      1      0  71.2833        C         1
2    1  26.0      0      0   7.9250        S         1
3    1  35.0      1      0  53.1000        S         1
4    0  35.0      0      0   8.0500        S         0

In [173]:
# dataset['embarked']=dataset['embarked'].fillna(dataset['embarked'].mode()[0], inplace=True)
# Data=pd.get_dummies(Data,columns=['embarked','sex'])
dataset = pd.get_dummies(dataset,columns=['embarked'],drop_first=True)

In [174]:
dataset.head()

   sex   age  sibsp  parch     fare  survived  embarked_Q  embarked_S
0    0  22.0      1      0   7.2500         0       False        True
1    1  38.0      1      0  71.2833         1       False       False
2    1  26.0      0      0   7.9250         1       False        True
3    1  35.0      1      0  53.1000         1       False        True
4    0  35.0      0      0   8.0500         0       False        True

In [175]:
dataset['embarked_Q']=np.where((dataset['embarked_Q']==True),1,0)
dataset['embarked_S']=np.where((dataset['embarked_S']==True),1,0)

In [176]:
dataset.head()

   sex   age  sibsp  parch     fare  survived  embarked_Q  embarked_S
0    0  22.0      1      0   7.2500         0           0           1
1    1  38.0      1      0  71.2833         1           0           0
2    1  26.0      0      0   7.9250         1           0           1
3    1  35.0      1      0  53.1000         1           0           1
4    0  35.0      0      0   8.0500         0           0           1

In [201]:
x= dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [202]:
print(x.shape)

(891, 7)

In [203]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, recall_score, precision_score,accuracy_score, classification_report

In [204]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [205]:
model = LogisticRegression()
model

LogisticRegression()

In [206]:
model.fit(x_train,y_train)

LogisticRegression()

In [208]:
pred = model.predict(x_test)
# print((f1_score(y_test, pred))*100, "%")
accuracy = accuracy_score(y_test, pred)
print("Accuracy:", accuracy*100,"%")

Accuracy: 76.53631284916202 %

In [211]:
model.predict([[1,38.0,1,0,71.2833,0,1]])

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])